@model Storefront.DATA.EF.Models.MobileSuit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MobileSuit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Msimage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Msimage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scale.ScaleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockStatus.StockStatusName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Universe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Universe.UniverseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
