@model IEnumerable<Storefront.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "Mobile Suit Types";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDesc)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-secondary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
